<div class="login-container">
  <div class="login-card">
    <!-- Logo en la parte superior -->
    <div class="logo-container">
      <img 
        src="https://s3-eu-west-1.amazonaws.com/tpd/logos/6100288620d1cf000187bfaa/0x0.png" 
        alt="Logo"
        class="login-logo"
      />
    </div>
    
    <h2 class="login-header">Iniciar Sesión</h2>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="username">Usuario</label>
        <input
          id="username"
          type="text"
          pInputText
          formControlName="username"
          [class.ng-invalid]="username?.invalid && (username?.dirty || username?.touched)"
          [class.ng-valid]="username?.valid && (username?.dirty || username?.touched)"
        />
        <p-message
          *ngIf="username?.invalid && (username?.dirty || username?.touched)"
          severity="error"
          text="El usuario es requerido"
        ></p-message>
      </div>

      <div class="p-field">
        <label for="password">Contraseña</label>
        <input
          id="password"
          type="password"
          pPassword
          formControlName="password"
          feedback="false"
          [class.ng-invalid]="password?.invalid && (password?.dirty || password?.touched)"
          [class.ng-valid]="password?.valid && (password?.dirty || password?.touched)"
        />
        <p-message
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          severity="error"
          text="La contraseña es requerida"
        ></p-message>
      </div>
      <p-footer>
        <button
          pButton
          [disabled]="loginForm.invalid"
          label="Iniciar Sesión"
          icon="pi pi-sign-in"
        ></button>
      </p-footer>
    </form>

    <p-message
      *ngIf="errorMessage"
      severity="error"
      text="{{ errorMessage }}"
      class="error-message"
    ></p-message>
  </div>
</div>
