   <p-confirmDialog></p-confirmDialog>
<p-button
label="Crear Proyecto"
icon="pi pi-plus"
styleClass="p-button-success"
(click)="createProject()"
></p-button>

<div class="card-container">
<p-card
  *ngFor="let project of projects"
  header="{{ project.title }}"
  class="project-card"
>
  <p>{{ project.description }}</p>
  <p-footer>
    <p-button
      label="Ver Tareas"
      icon="pi pi-list"
      (click)="viewTasks(project.id)"
    ></p-button>
    <p-button
      label="Editar"
      icon="pi pi-pencil"
      styleClass="p-button-warning"
      (click)="editProject(project.id)"
    ></p-button>
    <p-button
    label="Eliminar"
    icon="pi pi-trash"
    styleClass="p-button-danger"
    (click)="confirmDeleteProject(project.id)"
  ></p-button>
  </p-footer>
</p-card>
</div>
