<div class="home-container" style="text-align: center;">
  <p-card header="Bienvenido a">
    <img 
    src="https://s3-eu-west-1.amazonaws.com/tpd/logos/6100288620d1cf000187bfaa/0x0.png" 
    alt="Logo"
    style="margin-bottom: -5px; margin-top: -25px;"
  />
    <p>
      Esta aplicación te permite gestionar proyectos y tareas de manera eficiente.
      Para comenzar, por favor inicia sesión.
    </p>
    <p-footer>
      <button
        pButton
        label="Ingresar"
        (click)="navigateToLogin()"
      ></button>
    </p-footer>
  </p-card>
</div>
