.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px); 
    background-image: url('../assets/pexels-thepaintedsquare-583846.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

  
    p-card {
      width: 400px;
  
      p-footer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
  }
  